#### Exercise 2.2
PH 295  
Nick Ball  
**Purpose:**
 Ask user for desired orbital period T and calculate and print correct altitude in meters.

$$ h = \sqrt[3]{\frac{G M T^2}{4 \pi^2}}-R_E $$

In [1]:
from math import pi

In [4]:
#Define vars & consts
G = 6.67*10**-11         #m^3/kgs^2
M = 5.97*10**24          #kg
R = 6371000              #m

In [15]:
#Define function for repeat use
def altitude(T):
    #Ask user for desired orbital period in seconds
    #T = float(input("Input orbital period in seconds: "))

    #Calculate and display height
    h = -R + ((G*M*T**2)/(4*pi**2))**(1/3)
    #print("Orbital height: ", h, "m")
    
    return h

c) Calculate the altitude of satellites that orbit with period of 90 mins and 45 mins

In [6]:
altitude()

Input orbital period in seconds: 5400
Orbital height:  279321.62537285965 m

In [7]:
altitude()

Input orbital period in seconds: 2700
Orbital height:  -2181559.8978108233 m

d) How much difference is there between an orbital period of 24 hours and 23.93 hours?

In [16]:
dh = altitude(86400) - altitude(86148)
print ("dh = ", dh , "m")

dh =  82147.8462793231 m

A difference of 82 KM is pretty considerable.